HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
# Diretórios e arquivos do Eclipse
.classpath
.project
.settings/

# Arquivos compilados
*.class

# Diretório de saída padrão
bin/
target/

# Arquivos de log
*.log

# Arquivos de pacotes e build
*.jar
*.war
*.ear

# Dependências geradas pelo Maven/Gradle
/.mvn/
/.gradle/
/build/

# Arquivos temporários do sistema
*.tmp
*.swp
*~.nib
.DS_Store
Thumbs.db

# Configurações do sistema operacional
*.iml
.idea/
.vscode/

# Configurações específicas de ambiente
.env
